.DS_Store
*.RData
!rda_JitterResults.RData
*.pdf
JitterRunsA/run*/
JitterRunsB/run*/
JitterRunsC/run*/
run/*.*
!run/gmacs.par
!run/gmacs_in.*
run_no_par/
runBestHess/*.*
!runBestHess/gmacs.par
!runBestHess/gmacs.bar
!runBestHess/tmp.sh
!runBestHess/gmacs
!runBestHess/gmacs.dat
!runBestHess/TannerCrab.dat
!runBestHess/TannerCrab.ctl
!runBestHess/TannerCrab.prj
runHess/
testing/
