.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store

ModelRuns/ModelComparisons-TCSAM02/~$Tables_ModelDescription.pptx
ModelRuns/ModelComparisons-TCSAM02/~$Tables_ModelDescription.xlsx
ModelRuns/ModelRuns-TCSAM02/2025_25_02/run_results/Results.RData
ModelRuns/ModelRuns-TCSAM02/2025_25_02/run_results/ParamValues.csv
ModelRuns/ModelRuns-TCSAM02/2025_25_02/run_results/oflResults.csv
ModelRuns/ModelRuns-TCSAM02/2025_25_02/run_results/OFCs.NonDataComponents.csv
ModelRuns/ModelRuns-TCSAM02/2025_25_02/run_results/OFCs.DataComponents.csv
ModelRuns/ModelRuns-TCSAM02/2025_25_02/osa_size_diagnostics.png
ModelRuns/ModelRuns-TCSAM02/2025_25_01a/run_results/Results.RData
ModelRuns/ModelRuns-TCSAM02/2025_25_01a/run_results/ParamValues.csv
ModelRuns/ModelRuns-TCSAM02/2025_25_01a/run_results/ParamsAtBounds.csv
ModelRuns/ModelRuns-TCSAM02/2025_25_01a/run_results/oflResults.csv
ModelRuns/ModelRuns-TCSAM02/2025_25_01a/run_results/OFCs.NonDataComponents.csv
ModelRuns/ModelRuns-TCSAM02/2025_25_01a/run_results/OFCs.DataComponents.csv
ModelRuns/ModelRuns-TCSAM02/2025_25_01/run_results/Results.RData
ModelRuns/ModelRuns-TCSAM02/2025_25_01/run_results/ParamValues.csv
ModelRuns/ModelRuns-TCSAM02/2025_25_01/run_results/oflResults.csv
ModelRuns/ModelRuns-TCSAM02/2025_25_01/run_results/OFCs.NonDataComponents.csv
ModelRuns/ModelRuns-TCSAM02/2025_25_01/run_results/OFCs.DataComponents.csv
Text/q00_TannerCrab2025-05.pdf
Text/q02_Analyses.pdf
