figures
tables
*_files
.DStore
*.html
*.html.md
*.pdf.md
*.pdf
*.tex
*.aux
*.log
*_ListForFigures.*
*_ListForTables.*
*_ListForFiguresInfo.*
*_ListForTablesInfo.*
*_files
*.zip
!Tables_ModelDescription