figures
tables
*_files
.DStore
*.html
*.pdf
*.html.md
*.pdf.md
*.tex
*.aux
*.log
*_ListForFigures.*
*_ListForTables.*
*_ListForFiguresInfo.*
*_ListForTablesInfo.*
*_files
*.zip
*.RData
!rda_cases.RData
